<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<resultMap type="Board" id="resultBoard">
		<id column="b_no" property="b_no" />
		<result column="userid" property="userid" />
		<result column="b_content" property="b_content" />
		<result column="b_create_date" property="b_create_date" />
		<result column="b_up_date" property="b_up_date" />
		<result column="b_readcount" property="b_readcount" />
		<result column="b_open" property="b_open" />
		<result column="b_category" property="b_category" />
		<result column="b_like" property="b_like" />
	</resultMap>

	<resultMap type="BoardAttach" id="resultAttach">
		<result column="atch_parent_no" property="atch_parent_no" />
		<result column="atch_file_name" property="atch_file_name" />
	</resultMap>

	<insert id="insertBoard" parameterType="Board">
		insert into board (B_NO, USERID, B_CONTENT, B_CREATE_DATE, B_UP_DATE, B_READCOUNT, B_OPEN, b_category, b_like)
		values (default, #{userid}, #{b_content}, default, default, default, #{b_open}, #{b_category}, default)
		<selectKey keyProperty="b_no" resultType="int" order="AFTER">
			select max(B_NO) from BOARD
		</selectKey>
	</insert>

	<update id="updateBoard" parameterType="Board">
		update board
		set b_content = #{b_content},
			b_category = #{b_category},
			b_up_date = sysdate,
			b_open = #{b_open}
		where b_no = #{b_no}
	</update>

	<delete id="deleteBoard" parameterType="_int">
		delete from board
		where b_no = #{b_no}
	</delete>

	<select id="selectListAll" resultMap="resultAttach">
		select a.atch_parent_no, a.atch_file_name
		from board b
		join boardattach a on (b.b_no = a.atch_parent_no)
		where b_open = 2
		and atch_seq = 1
		order by a.atch_parent_no desc
	</select>

	<select id="selectListMy" resultMap="resultAttach"
		parameterType="string">
		select a.atch_parent_no, a.atch_file_name
		from board b
		join boardattach a on (b.b_no = a.atch_parent_no)
		where userid = #{userid}
		and atch_seq = 1
		order by a.atch_parent_no desc
	</select>

	<select id="selectListFriend" resultMap="resultAttach"
		parameterType="string">
		select a.atch_parent_no, a.atch_file_name
		from board b
		join boardattach a on (b.b_no = a.atch_parent_no)
		where userid = #{userid} and b_open in (1,2)
		and atch_seq = 1
		order by a.atch_parent_no desc
	</select>

	<select id="selectBoard" resultType="Board" parameterType="_int">
		select *
		from board
		where b_no = #{b_no}
	</select>

	<select id="searchBoard" parameterType="string" resultMap="resultAttach">
		select a.atch_parent_no, a.atch_file_name
		from board b
		join boardattach a on (b.b_no = a.atch_parent_no)
		where b_open = 2
		and b_category like '%' || #{tag} || '%'
		and atch_seq = 1
		order by a.atch_parent_no desc
	</select>

	<update id="updateAddReadcount" parameterType="_int">
		update board
		set
		b_readcount = b_readcount + 1
		where b_no = #{b_no}
	</update>
	
	<update id="addLikeupdateBoard" parameterType="_int">
		update board
		set		b_like = b_like + 1
		where b_no = #{b_no}
	</update>

</mapper>

