* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/* 네브 및 로고 */
nav {
    background-color: white;
    /* border-bottom: 1px solid #E5E5E5; */
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -20px;
    padding-top: 30px;
    padding-bottom: -10px;
}

nav ul {
    display: flex;
    text-align: center;
}

nav ul .searchBox {
    position: relative;
    left: 150px;
    padding-left: 30px;
}

nav ul li ol {
    display: flex;
}


.logo {
    width: 40px;
}

.h1 {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -3px;
    background: linear-gradient(to right top, rgb(240, 216, 83) 15%, rgb(255, 36, 16) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul li ol:first-child {
    margin-right: -15px;
}

nav ul li:last-child ol li a {
    margin-left: 30px;
}

i {
    color: #E5E5E5;
    transition: 0.6s ease-out;
}

i:hover {
    color: #F95E25;
}


/* 이미지 및 이미지크기 고정 설정 */
/* 동그란 프로필 이미지 */
#profile {
    width: 33px;
    border-radius: 50%;
    overflow: hidden;
}

#profile img {
    max-width: 100%;
    height: auto;
    display: block;

}


#shareBtn:hover {
    display: block;
    cursor: pointer;
}


#shareBtn {
    padding: 0 10px 0 10px;
    position: relative;
    top: 10px;
    left: 5px;
}

.shareContent {
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 900;
    background-color: #ececec;
    min-width: 200px;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.shareContent a {
    display: block;
    color: rgb(37, 37, 37);
    font-size: 14px;
    padding: 12px 20px;
}

.shareContent:hover {
    background-color: #F95E25;
}

.share:hover .shareContent {
    display: block;
}

.noneRead {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}

li {list-style: none;}
